.mzb-forecast-selector-group {margin: 10px auto; color: #fff;}
.mzb-forecast-selector-group-header {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #4d0246;
    cursor: pointer;
}

.mzb-forecast-selector-group-header > svg {
    width: 25px;
    color:#fff;
}

.mzb-forecast-selector-group-body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

    max-width: 169px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}