.model-zoo-browser * {
    box-sizing: border-box;
}
.model-zoo-browser {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: stretch;
    border: 1px solid #ececec;
    /* height: 490px; */
}

.model-zoo-browser .mzb-navigation {
    background-color: #ebecf0;
    height: 420px;
    overflow: hidden;
    /* overflow-x: scroll; */
}

.model-zoo-browser .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #dbdde5;
    height: 47px;
}

.model-zoo-browser .nav-header .title {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.model-zoo-browser .mzb-back {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.3s;
}

.model-zoo-browser .mzb-back:hover {
    background-color: #c2c5d2;
    color: #fff;
}

.model-zoo-browser .nav-header h6 {
    font-size: 14px;
    color: #4d0246;
    font-weight: 500;
    margin: 0;
}

/* .model-zoo-browser .nav-header a {
    display: grid;
    place-items: center;
    background-color: #4d0246;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 3px;
    border-radius: 4px;
} */

.model-zoo-browser .nav-header .mzb-download {
    position: relative;
    width: 15px;
    top: 2px;
    color: #4d0246;
    cursor: pointer;
}

.model-zoo-browser .nav-header .arrow-up {
    color: #4d0246;
    transform: scale(-1, -1);
    height: 1rem;
}

/* Model Selector */

.model-zoo-browser .mzb-sidebar {
    padding: 15px;
    height: 372px;
    overflow-y: auto;
    scrollbar-width: none;
}

.model-zoo-browser .mzb-sidebar .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

    margin: 0 auto;
    max-width: 169px;
}

.model-zoo-browser .mzb-sidebar .selector-btn {
    background-color: #C9C4D4;
    color: #4D0246;
    border-radius: 0.3125rem;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5;
    padding: 0.1875rem 0.5rem 0.1875rem 0.4rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    max-width: 82px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-weight: 400;
}

.model-zoo-browser .mzb-sidebar .selector-btn.selected {
    background-color: #4d0246;
    color: #fff;
}

.model-zoo-browser .mzb-sidebar .selector-btn svg {
    width: 15px;
}

.model-zoo-browser .mzb-sidebar .selector-btn.selected .clock {
    color: rgb(250, 250, 229);
}

/* DATA VISUALIZATION */

.model-zoo-browser .data-visualization {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.model-zoo-browser .data-visualization .treemap-container {
    position: relative;
    width: 100%;
    height: 374px;
}

.model-zoo-browser .data-visualization .treemap-container .treemap-svg {
    pointer-events: none;
    width: inherit;
    height: inherit;
}

/* Treemap styles */

.model-zoo-browser .data-visualization .treemap-container .rect {
    pointer-events: auto;
    animation: rect-animation 0.4s ease;
}

@keyframes rect-animation {
    0% { transform: scale(0); opacity: 0; }
    100% { transform:  scale(1); opacity: 100; }
}

.model-zoo-browser .data-visualization .treemap-container .text-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.model-zoo-browser .data-visualization .treemap-container .text-info {
    margin: 0.3125rem;
    font-size: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.model-zoo-browser .data-visualization .treemap-container .tooltip-title {
    margin-bottom: 0.25rem;
    font-weight: 700;
}





/* TABLE */

.model-zoo-browser .data-visualization .mzb-table-container {
    width: 100%;
    height: 374px;
    overflow-y: auto;
    position: relative;
}

.model-zoo-browser .data-visualization .mzb-table-container table {
    width: 100%;
    background-color: #f3eff2;
    border-spacing: 2px;
    text-align: left;
}
.model-zoo-browser .data-visualization .mzb-table-container .mzb-table-header {
    display: table-header-group;
    width: 100%;
    background-color: #936487;
    color: #fff;
    font-weight: 400;

    position: sticky;
    top: 0px;
    z-index: 100;
    border-top: none;
}

.model-zoo-browser .data-visualization td {
    padding: 5px 10px;
}

.model-zoo-browser .data-visualization tbody td {
    color: #1D0C5F;
    background-color: #fff;
}

.model-zoo-browser .data-visualization .mzb-table-container .index-cell {
    width: 5%;
}

.model-zoo-browser .data-visualization .mzb-table-container .terms-cell {
    width: 55%;
}

.model-zoo-browser .data-visualization .mzb-table-container .coefficient-cell {
    width: 20%;
}

.model-zoo-browser .data-visualization .mzb-table-container .importance-cell {
    width: 20%;
}

.model-zoo-browser .data-visualization .mzb-table-container .bar {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.model-zoo-browser .data-visualization .mzb-table-container .bar-caption {
    padding-left: 0.25rem;
    z-index: 2;
}

.model-zoo-browser .data-visualization .mzb-table-container .term-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Data info */

.model-zoo-browser .data-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
}

.model-zoo-browser .mzb-timescale-badge {
    background-color: #7c9ecb;
    color: #fff;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 14px;
    flex-shrink: 0;
    position: relative;
    /* top: -1px; */
}

.model-zoo-browser .data-info .model-details-header {
    margin: 0;
    color: #4d0246;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.model-zoo-browser .data-info .model-details {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.model-zoo-browser .data-info .node-details {
    display: flex;
    gap: 10px;

    font-size: 10px;
    max-width: 300px;
}

.model-zoo-browser .data-info .node-details .dn-txt-info {
    display: flex;
    flex-direction: column;
}

.model-zoo-browser .data-info .node-details .dn-mark {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.model-zoo-browser .data-info .open-drawer {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 12px;

    background-color: #ebecf0;
    border-radius: 4px;
    padding: 0 3px;
}

.model-zoo-browser .data-info .open-drawer .drawer-arrows {
    width: 10px;
    transform: scale(-1);
}

.model-zoo-browser .data-info .open-drawer span {position: relative; top: -1px;}

.model-zoo-browser .insights {overflow: hidden;}

.model-zoo-browser .insights .header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: 47px;
    line-height: 1.2;
    color: #4D0246;
    background-color: #dbdde5;
    cursor: pointer;
}

.model-zoo-browser .insights .header h6 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.model-zoo-browser .insights .drawer-arrows {
    width: 20px;
}

.model-zoo-browser .insights .settings-panel {
    padding: 15px 15px 15px 25px;
    overflow-y: scroll;
    height: 372px;
    background-color: #ebecf0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.model-zoo-browser .insights .mzb-offsets-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.model-zoo-browser .insights .insights-subheader {
    margin: 0;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

/* Insights Scale */

.model-zoo-browser .insights .scale-generic {
    margin-left: 0.125rem;
}

.model-zoo-browser .insights .scale-generic .scale-header {
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
}

.model-zoo-browser .insights .scale-generic .variable-name {
    color: #000;
    font-size: 0.875rem;
    font-weight: 400;
}

.model-zoo-browser .insights .scale-generic .inequality {
    height: 100%;
    width: 1.5rem;
    position: relative;
    top: -9px;
}

.model-zoo-browser .insights .scale-generic .inequality-container {
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.model-zoo-browser .insights .scale-generic .iq-dot {
    width: 30%;
    height: 0.3125rem;
    border-radius: 2px;
}

.model-zoo-browser .insights .scale-generic .scale-wrapper {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
}

.model-zoo-browser .insights .unusedvars-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
}

.model-zoo-browser .insights .unusedvars-container .unused-var {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #c2c5d2;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
}

.model-zoo-browser .insights .unusedvars-container .unused-var svg {
    width: 12px;
}

.model-zoo-browser .insights .unusedvars-container .unused-var .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.model-zoo-browser .insights .mzb-f-difficulty {
    font-weight: 500;
}

/* SELECT */
.model-zoo-browser .mzb-select {
    border: 1px solid #ebecf0;
}
.model-zoo-browser .mzb-select:focus {outline: none;}