.mzb-scale {
    width: 100%;
    height: 15px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border-left: 1px solid #c2c5d2;
    position: relative;
}

.mzb-scale::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #c2c5d2;
    transform: translateY(50%);
}

.mzb-scale .mzb-scale-p {
    position: relative;
    border-right: 1px solid #c2c5d2;
}

.mzb-scale .mzb-scale-p.start::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -2px;
    width: 4px;
    background-color: #e65f39;
}

.mzb-scale .scale-p:last-child { border: none }

.mzb-scale .mzb-scale-badge {
    position: absolute;
    bottom: -12px;
    right: -6px;

    color: #9da0bf;
    font-size: 10px;
    font-weight: 700;
}

.mzb-scale .mzb-scale-badge.start { left: -10px; }

/* RESULT LINE */

.mzb-scale-wrapper {
    margin: 50px 0;
    position: relative;
}

.mzb-scale-wrapper .mzb-result-line-container {
    width: 90%;
    height: 3px;
    border-radius: 3px;
    position: relative;
    top: -8px;
    overflow: hidden;
}

.mzb-scale-wrapper .mzb-result-line-container .mzb-result-line-100 {
    position: relative;
    width: 56%;
    height: 100%;
    margin-left: auto;
    border-radius: 3px;
    /* background-color: yellow; */
}

.mzb-scale-wrapper .mzb-result-line-container .mzb-result-line-100 .mzb-result-line-color {
    height: 100%;
    position: absolute;
    border-radius: 3px;
    /* z-index: 1000; */
    margin-left: auto;
}

.mzb-scale-wrapper .mzb-overflow-dot {
    height: 3px;
    width: 3px;
    display: block;
    background-color: red !important;
    position: absolute;
    bottom: 8px;
    /* left: -25px; */
}

.mzb-scale-wrapper .mzb-overflow-dot.first { width: 5px; left: -15px; }
.mzb-scale-wrapper .mzb-overflow-dot.second {width: 5px; left: -7px;}

/* LABEL LOGIC */

.mzb-scale-wrapper .mzb-scale-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.mzb-scale-wrapper .mzb-scale-label {
    color: #fff;
    padding: 1px 3px;
    border-radius: 5px;
    font-size: 10px;
}

.mzb-scale-wrapper .mzb-scale-tooltip-label {
    position: absolute;
    top: 0;
    right: 0;
    scale: 0;
    transition: all 0.2s ease-in-out;

    display: flex;
    gap: 10px;
    align-items: center;

    background-color: #fff;
    padding: 2px 5px;
    border-radius: 20px;
    box-shadow: -4px 6px 14px -6px rgba(0,0,0,0.75);

    font-size: 14px;
    font-weight: 700;
}

.mzb-scale-wrapper:hover .mzb-scale-tooltip-label {
    scale: 1;
}

.mzb-scale-wrapper .mzb-scale-label-mark {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
